table{
    background-color: rgb(65, 65, 65);
    color:rgb(35, 35, 35);
    border: 5px;
    border-color: rgb(0, 0, 0);
    width: 75%;
    height: 75%;
    font-size: 18px;
    margin-left: 12.5%;
    border-style:double;
    td{
        background-color: rgb(231, 231, 231);
        border-color: black;
        border-style: double;
        border: 3px;
    }
}
table caption{
        color:red;
        border-color: rgb(39, 39, 39);
        border: 10px;
        background-color: rgb(27, 33, 53);
        font-size: xx-large;
}
